.site-toolbar{
	position: fixed; top:0px; right: 0px; z-index: 999; height: 100%;
	.st-bar{
		background: #000; width: 35px; height: 100%; color: #fff; float: left;
		.sb-head{
			
		}
		.sb-main{
			position: absolute;top:50%; left: 0px; width: 35px; margin-top: -130px;
		}
		.sb-foot{
			position: absolute;bottom:0px; left: 0px; width: 35px;
			.st-tip{
				i.arr{color:#fff!important;}
			}
		}
		.sm-tab{
			padding: 5px 0px; font-family: $font-weiruan; position: relative; line-height: 30px; 
			.iconfont{font-size: 22px;}
			a{color:#fff;display: block; width: 20px; margin:0px auto; text-align: center;}
			.st-tip{
				position: absolute; left:-140px; top:0px; color:#fff; background: #666; display: block; width: 80px; height: 20px; line-height: 20px; padding: 10px; opacity: 0; display: none; z-index: 99;
				i.arr{position: absolute;top:11px; right: -8px; width: 16px; height: 16px; line-height: 16px; text-align: center; font-size: 16px; font-family: "\5b8b\4f53"; font-style: normal; color:#666;}
			}
		}
		.sm-tab:hover{
			background: $color_g;
		}
	}
	.st-content{
		float: right;background: #fff; height: 100%;
		@import "sc-cart" ;
		@import "sc-coupon" ;
		@import "sc-faver" ;
	}
	.st-left-box{
		position: absolute; padding: 15px; border: 1px solid #ddd; z-index: 100; background: #fff;
		.close{
			position: absolute; right: 0px; top: 0px; font-size: 30px; line-height: 25px; height: 25px; width: 25px; text-align: center; color:#666;
		}
		i.arr{position: absolute;top:11px; right: -8px; width: 16px; height: 16px; line-height: 16px; text-align: center; font-size: 16px; font-family: "\5b8b\4f53"; font-style: normal; color:#fff;}
	}
	.st-login{
		width: 268px; left: -300px; top:50%; display: none;
		.form{
			.item{margin-top: 10px;
				p{line-height: 30px; color: #333;}
				a{color:$color_b;}
				input{width:240px; padding: 2px 5px;}
			}
		}
	}
	.st-service{
		width: 230px; left: -262px; bottom:0px; display: none;
		.service{
			.title{
				background: url(service.png) no-repeat; padding-left:35px; line-height: 25px; height: 25px; font-size: 20px; font-family: $font_weiruan; color: $color_b; font-weight: bold;
			}
			.tel{
				color: $color_g; font-size: 20px; font-family: $font_weiruan; border-bottom: 1px dotted #ccc; padding: 5px 0px; margin: 5px 0px;
			}
			.qq{
				background: url(service.png) 0px -30px no-repeat; height: 25px; line-height: 25px; display: block;
			}
		}
	}
	.st-qrcode{
		width: 230px; left: -262px; bottom:0px; display: none;
		.qrcode{
			background: url(service.png) 0px -60px no-repeat; padding:10px 0px 10px 100px; height: 80px; color: #333; font-size: 18px; text-align: center;
		}
	}
}
