.eva_icon{background: url(eval_icon.gif) top left no-repeat;display:inline-block; margin-bottom: -3px;}
.eva_icon{*zoom:1;*display: inline;}

.sa0{width: 76px; height:16px; background-position:-77px -80px;}
.sa1{ width:76px; height:16px; background-position:-62px -80px;}
.sa2{ width:75px; height:16px; background-position:-48px -80px;}
.sa3{ width:75px; height:16px; background-position:-33px -80px;}
.sa4{ width:75px; height:16px; background-position:-18px -80px;}
.sa5{ width:75px; height:16px; background-position:-2px -80px;}

.bad{ width:45px; height:17px; background-position:0px 0px; margin-left: 6px;}
.ave{ width:44px; height:17px; background-position:0px -27px; margin-left: 6px;}
.good{ width:44px; height:17px; background-position:0px -54px; margin-left: 6px;}