@import "../G";
@import "../components/button";
@import "../components/loginicon";

.w{
	width: 1000px; margin: 0px auto;
}
$progress : 'progress.png';
.overhidd{
	overflow: hidden;
}

.forgetpassword{
	border: 3px solid #e8e8e8; width: 954px; padding: 25px 20px; margin-top: 20px;
}
.progress_box{
	width: 960px; overflow: hidden;
	.progress{
		height: 40px; line-height: 40px; background: #CCCCCC; width: 975px;
		a{
			color: #fff; height: 40px; line-height: 40px; display: inline-block; width: 200px; float: left; padding-left: 10px; font-size: 14px; position: relative;padding-left:40px;margin:0px 20px 0px -20px; cursor: default;
			.iconfont{font-size: 28px; margin-right: 5px; float: left;}
			s{
				float:right;background: url($progress) 0px -40px; width: 20px; height: 40px; position: absolute; top:0px; right: -20px; z-index: 10;
			}
		}
		a.on{
			background: #93CA57;
			s{
				background: url($progress);
			}
		}
	}
}

.pp_form{
	width: 500px; padding-left: 300px; margin-top: 20px;
	.form_item{
		padding: 8px 0px;
		span{margin-left: -100px; float: left; width: 90px; text-align: right; height: 30px; line-height: 30px;}
		.form_word{
			height: 30px; line-height: 30px;
		}
		.form_text{
			border: 1px solid #DEDEDE;width: 190px;height: 18px;line-height: 18px;padding:5px;font-size: 14px;
		}
		.form_radio{
			vertical-align:middle;margin:-3px 2px 0px 0px;margin-right:4px;width:15px;border:0px;
		}
		.s{width: 100px;}
		.error{
			border: 1px solid $color_r;
		}
		em.error{color: $color_r; font-style: normal; margin:0px 5px; border:0px;}
	}
	.vip_enjoy{margin-left: -60px; line-height: 22px; font-size: 12px; margin-top: 20px; border-top: 1px dotted #ddd; padding-top: 20px; color:#999;}
}
.fp_enter{padding: 100px 0px 100px 200px;
	a{color:#ccc; background: #f6f6f6; font-size: 14px; width: 200px; height: 30px; padding:25px 0px;display: block; text-align: center; vertical-align: middle;
		border: 3px solid #ccc; float: left; margin-right: 150px;
		.iconfont{font-size: 30px; margin-right: 10px;}
	}
	a:hover{
		border: 3px solid $color_g; color:$color_g;
	}
}
.message{
	padding: 100px 250px; line-height: 30px;
}