@import "../G" ;
$width: 1200px;
.banner{
	width : $width; height: 400px;
}
@each $i in $sort-ary {
	.default-banner-#{$i}{
		width : $width; height: 400px; background: url('sort/#{$i}.jpg'); display: block;
	}
	.title-#{$i}{
		width: $width - 40px; height: 60px; line-height: 60px; background: url('sort/#{$i}-t.jpg'); color: #fff; font-family: $font_weiruan; font-size: 30px; font-weight:blod; padding:0px 20px; margin-top: 20px;
		a{color: #fff;}
	}
}
.more{
	font-size: 20px; color: #fff;
}
.overhide{
	overflow: hidden;
}
.hot{
	position: relative;
	s{
		width: 130px; position: absolute; left:50%; top:0px; height:2px; background:#fff; margin-top: 29px; margin-bottom: 29px; display:block;
	}
	.l{
		margin-left: -220px;
	}
	.r{
		margin-left: 90px;
	}
}
.list{
	width:1400px;
	li{
		width: 260px; float:left; margin-right: 24px; padding: 10px; border:1px solid #eee; margin-top: 10px;
		img{width:260px; height:260px; }
		a{color: #666;}
		p{line-height: 20px; margin-top: 5px;}
	}
}